name: Deploy site

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: github-pages

jobs:
  deploy:
    name: Deploy site
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Configure Pages
        uses: actions/configure-pages@v3
      - name: Build site
        run: sh ci/build.sh
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: output
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
